/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --default-font-family: "Roboto", sans-serif;
  --default-font-size: 1.25rem;
  --dark-text-color: #111;
  --light-text-color: #FFFFFF;
  --neutral-color: #4a2b5f;

  --primary-color: #7F38D5;
  --primary-color-dark: #5600CF;
  --primary-background-color: #F5F5F5;
  --secondary-background-color: #E8CAFF;
  --card-background-color: #BC97E9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font-family);
}

body {
  background: var(--primary-background-color);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: var(--card-background-color);
  color: var(--dark-text-color);
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  width: 20px;
  margin-left: 10px;
}